

// ==========================================================================
// Vars
// ==========================================================================

$color-primary: #333;
$color-secondary: #fff;
$color-success: #3cc368;

$global-max-width-raw: 780;
$global-max-width: rem($global-max-width-raw);

$global-font-size: rem(16);
$global-line-height: 1.5;

$z-indexes: (
  'above': 500,
  'modal': 400,
  'overlay': 300,
  'dropdown': 200,
  'default': 1,
  'below': -1,
);
